.NavBarMobile {
    .mobile-nav-bar {
        position: absolute;
        right: 0;
        top: 0;
        left: unset;
        border-radius: 20px 0px 0px 20px;
        transition: 0.5s;
        overflow-x: hidden;

        &.no-width {
            width: 0;
        }
    }

    .hamburger {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        margin: 20px;
        cursor: pointer;

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}

@media (max-width: 1450px) {
    .NavBarMobile {
        .hamburger {
            display: block;
        }
    }  
}
