.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #222222;
	width: 9vw;
	border-radius: 10px;
	margin: 10px;
	transition: position 3s;
}
.card img {
	width: 90%;
}
@media (max-width: 1024px) {
	.card {
		width: 14vw;
	}
}