.portfolio {
	margin-top: 10vh;
}
.projectsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 40px;
}
.githubLink {
	border: 3px solid white;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	cursor: pointer;
	transition: 0.3s;
}
.githubLink:hover {
	transition: 0.3s;
	background: white;
}
.projects {
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 20px;
	border: 3px solid white;
	overflow: hidden;
	margin: 0px 60px 40px;
}
.phoneSummary {
	display: none;
}
.robofriends {
	background-image: url("../../images/Robofriends.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	border-radius: 20px;
}
.smartBrain {
	background-image: url("../../images/Smartbrain.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	border-radius: 20px;
}
.resumeSite {
	background-image: url("../../images/ResumeSite.PNG");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	border-radius: 20px;
}
.rainbowAngles {
	background-image: url("../../images/RainbowAngles.PNG");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	border-radius: 20px;	
}
.shadowBox {
	z-index: 2;
	background: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
	position: absolute;
	top: 0;
	left: 0;
	height: 300px;
	width: 300px;
	border-radius: 20px;
	transition: 0.3s;
}
.shadowBox:hover {
	z-index: 2;
	transition: 0.3s;
	background: rgba(0, 0, 0,0.9);
	display: inline-block;
	vertical-align: middle;
	color: white;
	height: 300px;
	width: 300px;
}
.shadowBox p {
	margin: 0 10px;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}


@media (max-width: 1332px) {
	.projects {
		margin: 0px 20px 40px;
	}
}
@media (max-width: 920px) {
	.projectsContainer {
		flex-direction: column;
	}
	.projects {
		margin: 0px 20px 20px;
		height: 200px;
		width: 200px;		
	}
	.projectBlockContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.phoneSummary {
		display: inline-block;
		float: right;
		color: white;
		align-self: ;
	}
	.shadowBox {
		display: none;
	}
	.robofriends {
		height: 200px;
		width: 200px;
	}
	.smartBrain {
		height: 200px;
		width: 200px;
	}
	.resumeSite {
		height: 200px;
		width: 200px;
	}
	.rainbowAngles {
		height: 200px;
		width: 200px;
	}
}
@media  (max-width: 480px) {
	.projectsContainer {
		margin: 0;
	}
	.projects {
		margin: 10px;
		height: 150px;
		width: 150px;
	}
	.robofriends {
		height: 150px;
		width: 150px;
	}
	.smartBrain {
		height: 150px;
		width: 150px;
	}
	.resumeSite {
		height: 150px;
		width: 150px;
	}
	.rainbowAngles {
		height: 150px;
		width: 150px;
	}
}