.contactMe {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background: black;
	color: white;
	border-top: 1px solid rgba(255,255,255,0.5);
}
.contactContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10vw;
	margin-bottom: 20px;
}
.contactMe p, .contactMe a {
	margin-left: 10px;
}
.contactInfo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.contactInfo p, .contactInfo h2 {
	margin: 5px;
}

@media (max-width: 500px) {
	.contactContainer h1 {
		font-size: calc(20px + .5vw);
	}
	.contactMe p, .contactMe a {
		font-size: calc(10px + .5vw);
		margin-left: 5px;
	}
}