body {
  height: 100vh;
  width: 100vw;
  background: black;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contentContainer {
  position: relative;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
}
span {
  font-family: copperplate;
}
h1 {
  font-size: 3.5vh;
  font-family: copperplate;
}
h2 {
  margin: 20px;
  font-size: 2.8vh;
  font-family: copperplate;
}
p, a {
  font-size: 2.5vh;
  font-family: copperplate;
}
a {
  color: white;
  font-family: copperplate;
}

