body {
  height: 100%;
  width: 100%;
  background: black;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contentContainer {
  position: relative;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
}
h1 {
  font-size: 50px;
}
h2 {
  margin: 20px;
  font-size: 30px;
}
p, a {
  font-size: 20px;
}
a {
  color: white;
}
@media (max-width: 920px) {
  .contentContainer {
    width: 90vw;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  p, a {
    font-size: 15px;
  }
}
