html {
  font-size: calc(18px + .5vw);

}
body {
  height: 100vh;
  width: 100vw;
  background: black;
  font-family: copperplate;
  color: white;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.contentContainer {
  position: relative;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
}
h1 {
  font-size: calc(30px + .5vw);
}
h2 {
  font-size: calc(12px + .5vw);
  margin: 20px;
}

