.aboutMe {
	margin-top: 8vh;
	width: 100vw;
	text-align: center;
	color: white;
}
.parallaxContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 100vw;
	background: url("../../images/IMG_0994.JPG") no-repeat fixed center center;
	background-size: cover;
}
.parallaxText {
	color: white;
	font-size: 6vh;
	font-weight: bold;
}
.paragraphContainer {
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: wrap;
	background: linear-gradient(to right, black 55%, #232323 75%, #232323 100%);

}
.paragraphContainer h1 {
	font-size: 3vh;
}
.paragraphContainer p {
	font-size: 2.5vh;
}
.paragraphContainer img {
	height: 90vh;
	align-self: flex-end;
}
.textContainer {
	margin: 0 10vw;
}
.textContainer span {
	margin-top: 2000px;
}
.underlined {
	padding: 0px 20px 0px 20px;
	border-bottom: 1px solid white;
}
@media (max-width: 1024px) {
	.paragraphContainer {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(black 25%, #232323 45%, #232323 100%);
	}
	.paragraphContainer img {
		height: 60vh;
		align-self: center;
	}
}